<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devienne Fou - Member List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>

</head>
    <body>
    <h1>Members</h1>

    <!-- Filter Form -->
    <form th:action="@{/members}" method="get">
        <input type="text" name="filter" placeholder="Filter by name"/>
        <button type="submit">Filter</button>
    </form>

    <!-- Members Table -->
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Week Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(members)}">
                <td colspan="3">No members found</td>
            </tr>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}">Member Name</td>
                <td th:text="${member.weekStatus}"
                    th:classappend="${#strings.trim(member.weekStatus) == 'VALIDATED' ? 'validated' :
                    (#strings.trim(member.weekStatus) == 'WARNING' ? 'warning' : 'bad')}">
                </td>
                <td>
                    <button
                            th:attr="hx-get='/historyfront?playerName=' + ${member.name}, hx-target='#history-' + ${member.name}"
                            hx-swap="outerHTML">History
                    </button>
                </td>
                <td th:id="'history-' + ${member.name}">
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
